.company-card {
    margin-bottom: 16px; /* Adjust margin as needed */
  }

  .company-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(198, 192, 192);
  }

  .imglogo{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-top: 2px;
  }

#company-list-div{
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
}

button {
  background-color: #E53935 !important; /* Red background color */
  color: white;
  width: 10%;
  border-radius: 15px;
  margin-top: 10px;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
