<div id="company-list-div">
    <h2>Company List</h2>
    <div *ngFor="let company of companies" class="company-card" (click)="navigateToCompanyInfo(company.id)">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="company-avatar"></div>
          <mat-card-title>{{ company.name }}</mat-card-title>
          <mat-card-subtitle>{{ company.address }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Average Rating: {{ company.averageRating }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>