<div id="company-list-div">
    <h2>Company List</h2>
    <div class="search-form">
      <mat-form-field>
        <input matInput placeholder="Search" [(ngModel)]="search">
      </mat-form-field>
      <button class="button" color="primary" (click)="searchCompanies()" mat-raised-button>Search</button>
      <mat-form-field>
        <mat-label>Sort Order</mat-label>
        <mat-select [(ngModel)]="ascOrDesc">
          <mat-option value="asc">Ascending</mat-option>
          <mat-option value="desc">Descending</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sort Type</mat-label>
        <mat-select [(ngModel)]="type">
          <mat-option value="name">Name</mat-option>
          <mat-option value="rating">Rating</mat-option>
          <mat-option value="address">Address</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="button" color="primary" (click)="sortCompanies()" mat-raised-button>Sort</button>
      <mat-form-field *ngIf="filter">
        <input matInput placeholder="Filter for rating" min="-1" [(ngModel)]="filterRating">
      </mat-form-field>
      <button *ngIf="filter" class="button" color="primary" (click)="filterCompaniesByRating()" mat-raised-button>Filter by rating</button>
      <mat-form-field *ngIf="filter">
        <input matInput placeholder="Filter for equipment num" min="-1" [(ngModel)]="filterEq">
      </mat-form-field>
      <button *ngIf="filter" class="button" color="primary" (click)="filterCompaniesByEquipmentNum()" mat-raised-button>Filter by equipment num</button>
      <button class="button" color="primary" (click)="resetSearching()" mat-raised-button>Reset</button>
    </div>
    <div *ngFor="let company of companies" class="company-card" (click)="navigateToCompanyInfo(company.id)">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="company-avatar">
            <img src="{{ logoUrl }}" class="imglogo" alt="{{ company.name }} Logo">
          </div>
          <mat-card-title>{{ company.name }}</mat-card-title>
          <mat-card-subtitle>{{ company.address }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Average Rating: {{ company.averageRating }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>