.company-card {
    margin-bottom: 16px; /* Adjust margin as needed */
  }
  
  .company-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray; /* Gray background color */
  }

#company-list-div{
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
}