<mat-toolbar color="primary">
  <span class="spacer"></span>
  <button mat-icon-button color="accent" (click)="navigateToProfileInfo()">
    <mat-icon style="font-size: 24px;">account_circle</mat-icon>
  </button>
</mat-toolbar>

<div>
  <div class="search-form">
    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)]="search">
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="searchCompanies()">
      <mat-icon style="font-size: 24px;">search</mat-icon>
    </button>
    <mat-form-field *ngIf="filter">
      <input matInput placeholder="Filter for rating" min="-1" [(ngModel)]="filterRating">
    </mat-form-field>
    <button *ngIf="filter" class="button" color="primary" (click)="filterCompaniesByRating()" mat-raised-button>Filter by rating</button>
    <mat-form-field *ngIf="filter">
      <input matInput placeholder="Filter for equipment num" min="-1" [(ngModel)]="filterEq">
    </mat-form-field>
    <button *ngIf="filter" class="button" color="primary" (click)="filterCompaniesByEquipmentNum()" mat-raised-button>Filter by equipment num</button>
    <button class="button" color="primary" (click)="loadCompanies()" mat-raised-button>Reset</button>
  </div>

  <h2>Company List</h2>
  <div *ngFor="let company of companies" class="company-card" (click)="navigateToCompanyInfo(company.id)">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="company-avatar"></div>
        <mat-card-title>{{ company.name }}</mat-card-title>
        <mat-card-subtitle>{{ company.address }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Average Rating: {{ company.averageRating }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
