<div class="container">
    <div id="fullscreen-photo"></div>
    <h1>New appointments review</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Pick up Date</th>
                    <th>Duration</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Equipment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of appointments">
                    <td>{{e.pickUpDate}}</td>
                    <td>{{e.duration}}</td>
                    <td>{{e.type}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let c of e.reservedEquipment">{{c.quantity}}</li>
                        </ul> 
                    </td>
                    <td>
                        <ul>
                            <li *ngFor="let c of e.reservedEquipmentReal">{{c.name}}</li>
                        </ul> 
                    </td>
                    <td>
                        <button mat-button class="submit-button" (click)="cancel(e.qrcodeId)">CANCEL</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>