<div>
  <body>
    <div class="material-box">
      <form (ngSubmit)="submitRating()" #ratingForm="ngForm" class="form-container">
        <div>
          <p class="form-header">{{ companyRating ? 'You can change your existing rate' : 'Rate company' }}</p>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Rating</mat-label>
            <mat-select [(ngModel)]="selectedRating" name="selectedRating" required>
              <mat-option *ngFor="let rating of ratings" [value]="rating.value">{{ rating.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div>
          <mat-form-field>
            <mat-label>Reasons for Rating</mat-label>
            <mat-select [(ngModel)]="selectedReasons" name="selectedReasons" multiple>
              <mat-option *ngFor="let reason of ratingReasons" [value]="reason">{{ reason }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div>
          <mat-form-field>
            <div>
                <textarea matInput placeholder="Additional Comments" [(ngModel)]="additionalComments" name="additionalComments"></textarea>
            </div>
          </mat-form-field>
        </div>
        
        <div>
          <button class="submit-button" mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </form>  
    </div>    
  </body>
</div>
