<div class="centered-container" *ngIf="company">
  <mat-card>
    <mat-card-content>
      <div class="centered-container">
        <h2>{{ company.name }}</h2>
        <p>Address: {{ company.address }}</p>
        <p>Average Rating: {{ company.averageRating }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <!-- Left side: Company Info, Equipment, Selected Equipment -->
  <div class="left-side">
    <mat-card>
      <mat-card-content>
        <p><b>Equipment:</b></p>
        <table mat-table [dataSource]="filteredEquipment">

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>Select</th>
            <td mat-cell *matCellDef="let equipment">
              <input type="checkbox" [checked]="getIsSelected(equipment)" (change)="toggleEquipmentSelection(equipment)">
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let equipment">{{ equipment.name }}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let equipment">{{ equipment.type }}</td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let equipment">{{ getEquipmentQuantity(equipment.id) }}</td>
          </ng-container>


          <!-- Table Rows -->
          <tr mat-header-row *matHeaderRowDef="['select', 'name', 'type', 'quantity']"></tr>
          <tr mat-row *matRowDef="let equipment; columns: ['select', 'name', 'type', 'quantity' ]"></tr>
        </table>
      </mat-card-content>
    </mat-card>

    <br>
    <mat-card class="selected-eq">
      <mat-card-content>
        <h3>Selected Equipment</h3>
        <ul style="list-style-type: none; padding: 0; margin: 0;">
          <li *ngFor="let equipment of filteredEquipment" class="equipment-item">
            <ng-container *ngIf="getIsSelected(equipment)">
              <div class="equipment-container">
                <span class="equipment-name">{{ equipment.name }}</span>
                <input type="number" [ngModel]="selectedEquipmentMap.get(equipment.id)" (change)="updateSelectedQuantity(equipment.id, $event)" min="1" [max]="getEquipmentQuantity(equipment.id)" class="equipment-quantity">
              </div>
            </ng-container>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Right side: Appointments and Selected Appointment -->
  <div class="right-side">
    <mat-card>
      <mat-card-content>
        <ng-container *ngIf="hasSelectedEquipment(); else noEquipmentText">
          <mat-card>
            <mat-card-content>
              <p>Choose date when you want to reserve appointment</p>
              <input type="date" [(ngModel)]="selectedDate" class="custom-date-picker">
              <button mat-raised-button color="primary" (click)="loadExtraordinaryAppointments()">Load Extraordinary Appointments</button>
              <button mat-raised-button color="primary" (click)="loadAppointments()">Load Predefined Appointments</button>
            </mat-card-content>
          </mat-card>
          <table *ngIf="!companyNotWorking; else companyNotWorkingText" mat-table [dataSource]="appointments">
            <!-- Radio Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>Select</th>
              <td mat-cell *matCellDef="let row">
                <input type="radio" [(ngModel)]="selectedAppointment" [value]="row">
              </td>
            </ng-container>

            <ng-container matColumnDef="pickUpDate">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let row">{{ row.pickUpDate | date: 'mediumDate' }}</td>
            </ng-container>

            <ng-container matColumnDef="pickUpTime">
              <th mat-header-cell *matHeaderCellDef>Time</th>
              <td mat-cell *matCellDef="let row">{{ row.pickUpDate | date: 'shortTime' }}</td>
            </ng-container>

            <!-- Table Rows -->
            <tr mat-header-row *matHeaderRowDef="['select', 'pickUpDate', 'pickUpTime']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['select', 'pickUpDate', 'pickUpTime']"></tr>
          </table>
          <ng-template #companyNotWorkingText>
            <p>Company is not working that day</p>
          </ng-template>
        </ng-container>

        <!-- Text when no equipment is selected -->
        <ng-template #noEquipmentText>
          <p>Choose equipment to see possible appointments!</p>
        </ng-template>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content *ngIf="hasSelectedEquipment()" class="selectap">
        <h3 >Selected Appointment</h3>
        <p *ngIf="selectedAppointment">Appointment ID: {{ selectedAppointment.pickUpDate }}</p>
        <button class="submit-button" mat-button color="primary" (click)="reserveAppointment()">Reserve</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
