.centered-container {
    text-align: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
  }

  .container {
    display: flex;
  }
  
  .left-side {
    width: 50%;
    padding: 20px;
  }
  
  .right-side {
    width: 50%;
    padding: 20px;
  }

  .equipment-item {
    margin-bottom: 10px; 
  }
  
  .equipment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .equipment-name {
    margin-right: 10px; 
  }
  