body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif; /* Material Design font */
}

.title {
    text-align: center;
    font-size: 45px;
}

.material-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-size: 20px; /* Reduced font size */
    background-color: #fff; /* Material Design white background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Material Design box shadow */
    margin: 10px;
}

.material-box a {
    text-decoration: none;
    color: #fff; /* White text color */
    font-weight: bold;
    display: block;
    padding: 10px;
    margin-top: 15px;
    background-color: #e53935; /* Red background color */
    border: 2px solid #e53935; /* Red border color */
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.material-box a:hover {
    background-color: #c62828; /* Darker red hover color */
    border-color: #c62828; /* Darker red hover border color */
}