<div class="container">
    <div id="fullscreen-photo"></div>
    <h1>Equipment review</h1>
    <div>
        <button class="back-button" (click)="backToPerviousPage()" mat-raised-button>Back</button>
    </div>
    <div>
        <label>Name: </label>
        <input class="input-field" type="text" [(ngModel)]="search">
        <button class="button" color="primary" (click)="searchEquipment()" mat-raised-button>Search</button>
        <button class="button" color="primary" (click)="resetBindingList()" mat-raised-button>Reset</button>
    </div>
    <div *ngIf="filter">
        <label for="typeInput">Type: </label>
        <input id="typeInput" class="input-field" type="text" [(ngModel)]="filterType">
      
        <label for="minPriceInput">Min Price: </label>
        <input id="minPriceInput" class="input-field" type="number" min="-1" [(ngModel)]="filterMinPrice">
      
        <label for="maxPriceInput">Max Price: </label>
        <input id="maxPriceInput" class="input-field" type="number" min="-1" [(ngModel)]="filterMaxPrice">
      
        <button class="button" color="primary" (click)="filterEquipment()" mat-raised-button>Filter</button>
        <button class="button" color="primary" (click)="searchEquipment()" mat-raised-button>Drop filter</button>
      </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th *ngIf="!isCompanyAdmin">Companies</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of bindingList">
                    <td>{{e.name}}</td>
                    <td>{{e.type}}</td>
                    <td>{{e.description}}</td>
                    <td>{{e.price}}</td>
                    <td *ngIf="!isCompanyAdmin">
                        <ul>
                            <li *ngFor="let c of e.companies">{{c}}</li>
                        </ul>    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>