<div class="container">
  <div>
    <button class="back-button" (click)="backToPerviousPage()" mat-raised-button>Back</button>
  </div>

  <div id="fullscreen-photo"></div>
  <h1>{{ caName }}</h1>

  <div class="admin-info">
    <div><strong>Email:</strong> {{ admin?.email }}</div>
    <div><strong>Name:</strong> {{ admin?.name }}</div>
    <div><strong>Surname:</strong> {{ admin?.surname }}</div>
    <div><strong>City:</strong> {{ admin?.city }}</div>
    <div><strong>Country:</strong> {{ admin?.country }}</div>
    <div><strong>Phone Number:</strong> {{ admin?.phoneNumber }}</div>

    <button mat-raised-button (click)="openEditDialog()">Edit</button>
    <button mat-raised-button (click)="openResetPasswordDialog()">Reset Password</button>
  </div>



    <div class="form-row">
        <div>
            <label for="calendarRange">Select display range:</label>
        </div>
        <div>
            <select class="combobox" id="calendarRange" name="calendarRange" [(ngModel)]="selectedRange">
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
        </div>
        <div>
            <button class="button" color="primary" (click)="changeCalendarPerspective()" mat-raised-button>Select</button>
        </div>
    </div>
    <div class="calendar-container">
        <full-calendar [events]="calendarEvents" [options]="calendarOptions"></full-calendar>
    </div>
</div>
