.frame {
  height: 80px;
  background: linear-gradient(to top, rgb(198, 192, 192), white);
  margin-bottom: 40px;
}
    
  .flex-container {
    margin-left: 2vh;
    margin-right: 2vh;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    width: auto;
  }
  
  .frame img.logo {
    max-height: 17vh;
    margin-top: -5px;
  }

  .logo{
    font-size: 25px;
    font-weight: 400;
  }
  
  #buttons {
    padding: 10px;
    margin-left: 20px;
  }
    
  .frame .button {
    width: auto;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 120px;
    font-size: 100%; 
    color:#fff;
    background-color: #E53935;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
  }
  
  .mat-mdc-raised-button.menu-button {
    width: auto;
      margin-left: 10px;
      margin-bottom: 15px;
      padding: 0px 10px;
      width: 120px;
      font-size: 100%;
      color: #fff;
      background-color: #E53935;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border-radius: 100px;
      cursor: pointer;
  }