<div class="centered-container" *ngIf="company">
    <mat-card>
      <mat-card-content>
        <div class="centered-container">
          <h2>{{ company.name }}</h2>
          <p>Address: {{ company.address }}</p>
          <p>Average Rating: {{ company.averageRating }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="container">
    <!-- Left side: Company Info, Equipment, Selected Equipment -->
    <div class="left-side">
      <mat-card>
        <mat-card-content>
          <p><b>Equipment:</b></p>
          <table mat-table [dataSource]="equipment">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let equipment">{{ equipment.name }}</td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let equipment">{{ equipment.type }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let equipment">{{ equipment.description }}</td>
            </ng-container>

            <!-- Table Rows -->
            <tr mat-header-row *matHeaderRowDef="['name', 'type', 'description']"></tr>
            <tr mat-row *matRowDef="let equipment; columns: [ 'name', 'type', 'description']"></tr>
          </table>
        </mat-card-content>
      </mat-card>
      <br>
    </div>
  </div>
